.container {
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    align-items: center;
    width: 1250px;
    margin: auto;
}

.filesDiv {
    /* display: block; */
    border: 1px solid black;
    padding: 18px;
    border-radius: 12px;
    margin-top: 10px;
    box-shadow: 3px 4px rgb(169, 164, 164);    
}

.folderButton{
    padding: 13px;
    background-color: rgb(234, 181, 163);
    border: 1px solid black;
    border-radius: 6px;
    width: 100px;
    font-weight: bold;
}

.folderButton:hover{
    background-color: rgb(247, 118, 75);
    color: white;
}